extends ../layouts/default

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				a(href='/gallery/' + data.gallerypost.key): h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
					.row
						if data.gallerypost.heroImage.exists
							.col-xs-2.col-sm-2.col-md.2
								a(href=data.gallerypost.heroImage.url)
									img(src=data.gallerypost._.heroImage.limit(600,600), alt=data.gallerypost.name + ' hero image')
						each image, i in data.gallerypost.images
							.col-xs-2.col-sm-2.col-md.2
								a(href=image.url)
									img(src=image.limit(600,600), alt=data.gallerypost.name + ' image ' + (i+1))

