extends ../layouts/default

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.post
				h2 Invalid Post.
			else
				a(href='/gallery/' + data.post.key): h2= data.post.name
					if data.post.publishedDate
						.pull-right.text-muted= data.post._.publishedDate.format('Do MMM YYYY')
				
				.row.gallery-images
					if data.post.heroImage.exists
						.col-sm-4.col-md-4.gallery-image: a(href=data.post.heroImage.url): img(src=data.post._.heroImage.limit(680,680)).img-rounded
						.col-sm-8.col-md-8: .row
							each image in gallery.images
								.col-xs-4.col-sm-4.col-md-3.data.post-image: a(href=image.url): img(src=image.limit(300,300)).img-rounded
					else
						each image in data.post.images
							.col-xs-6.col-sm-4.col-md-3.data.post-image: a(href=image.url): img(src=image.limit(300,300)).img-rounded
		