extends ../layouts/default

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				a(href='/gallery/' + data.gallerypost.key): h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
				
				.row.gallery-images
					if data.gallerypost.heroImage.exists
						.col-sm-4.col-md-4.gallery-image: a(href=data.gallerypost.heroImage.url): img(src=data.gallerypost._.heroImage.limit(680,680)).img-rounded
						.col-sm-8.col-md-8: .row
							each image in data.gallerypost.images
								.col-xs-4.col-sm-4.col-md-3.gallery-image: a(href=image.url): img(src=image.limit(600,600)).img-rounded
					else
						each image in data.gallerypost.images
							.col-xs-6.col-sm-4.col-md-3.data.gallery-image: a(href=image.url): img(src=image.limit(600,600)).img-rounded
		