extends ../layouts/default

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				a(href='/gallery/' + data.gallerypost.key): h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
					br.
					.row.gallery-images
						if data.gallerypost.heroImage.exists
							.col-xs-4.col-sm-4.col-md-3.gallery-image
								a(href=data.gallerypost.heroImage.url)
									img(src=data.gallerypost._.heroImage.limit(500,500), alt=data.gallerypost.name + ' hero image').img-responsive
						each image, i in data.gallerypost.images
							.col-xs-4.col-sm-4.col-md-3.gallery-image
								a(href=image.url)
									img(src=image.limit(500,500), alt=data.gallerypost.name + ' image ' + (i+1)).img-responsive

