extends ../layouts/default

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				a(href='/gallery/' + data.gallerypost.key): h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
					// Carousel
					p.
					p.
					.carousel
					#myCarousel.carousel.slide(data-ride="carousel")
						// Wrapper for slides
						.carousel-inner
							if data.gallerypost.heroImage.exists
								.item.active
									a(href=data.gallerypost.heroImage.url): img(src=data.gallerypost._.heroImage.pad(1140,640), alt=data.gallerypost.name + ' hero image')
							each image, i in data.gallerypost.images
								if i == 0
									if data.gallerypost.heroImage.exists
										.item
											a(href=image.url): img(src=image.pad(1140,640), alt=data.gallerypost.name + ' image ' + (i+1))
									else
										.item.active
											a(href=image.url): img(src=image.pad(1140,640), alt=data.gallerypost.name + ' image ' + (i+1))
								else
									.item
										a(href=image.url): img(src=image.pad(1140,640), alt=data.gallerypost.name + ' image ' + (i+1))

						a.left.carousel-control(href="#myCarousel" data-slide="prev")
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href="#myCarousel" data-slide="next")
							span.glyphicon.glyphicon-chevron-right