extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")

block content
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
				
				.gallery-images
					if data.gallerypost.heroImage.exists
						.row
							.col-xs-12
								a(href=data.gallerypost.heroImage.limit(900,600), title=data.gallerypost.name + ' hero image', rel='gallery').gallery-image
									img(src=data.gallerypost.heroImage.limit(640,640), alt=data.gallerypost.name + ' hero image')
					.row
						each image, i in data.gallerypost.images
							.col-xs-6.col-sm-4.col-md-3
								a(href=image.limit(900,600), title=data.gallerypost.name + ' image ' + (i+1), rel='gallery').gallery-image
									img(src=image.fill(300,300), alt=data.gallerypost.name + ' image ' + (i+1))

block page-js
	script(src='/js/bootstrap/modal.js')
	script(src='/js/bootstrap/carousel.js')
	script(src="/js/fancybox/jquery.fancybox.pack.js")
	script.
		jQuery(function($) {
			$('.gallery-images').find('.gallery-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					title: {},
					buttons: {}
				}
			});
		});