extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")

block content
	.container
		article
			p: a(href='/gallery') &larr; back to the gallery
			hr
			if !data.gallerypost
				h2 Invalid Gallery.
			else
				a(href='/gallery/' + data.gallerypost.key): h2= data.gallerypost.name
					if data.gallerypost.publishedDate
						.pull-right.text-muted= data.gallerypost._.publishedDate.format('Do MMM YYYY')
				
				.gallery-images
					if data.gallerypost.heroImage.exists
						.row
							.col-xs-12
								.gallery-image
									a(href=data.gallerypost.heroImage.url) img(src=data.gallerypost._.heroImage.limit(800,600))
					
					.row
						each image, i in data.gallerypost.images
							.col-xs-6.col-sm-4.col-md-3.data.gallery-image: a(href=image.url).gallery-image
								img(src=image.limit(600,600)).img-rounded

block page-js
	script(src='/js/bootstrap/modal.js')
	script(src='/js/bootstrap/carousel.js')
	script(src="/js/fancybox/jquery.fancybox.pack.js")
	script.
		jQuery(function($) {
			$('.gallery-images').find('.gallery-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					title: {},
					buttons: {}
				}
			});
		});